
<style>
    .card-header {
        background-color: #5bc1ac;
    }

    .bod {
        border-color: black;
    }
</style>

<div class="header1">
    <div class="alert mb-1 alert-success d-flex align-items-center" id="form1" role="alert" style="border-bottom-color:#5bc1ac; border-bottom-width:3px; background-color:#FFFFFF">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi el bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div class="el">
            <strong>Player Registration Confirmation</strong>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-6 bod">
        <div class="card mb-4 bod">
            <div class="card-header text-white">
                <i class="fas fa-chart-area me-1"></i>
                Personal Details
            </div>
            <div class="card-body">
                <strong>Name: </strong> @ViewData["pName"]<hr />
                <strong>DOB: </strong> @ViewData["pDOB"]<hr />
                <strong>ID Number: </strong> @ViewData["pID"]<hr />
                <strong>Gender: </strong> @ViewData["pGender"]
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4 bod">
            <div class="card-header text-white">
                <i class="fas fa-chart-bar me-1"></i>
                Contact Details
            </div>
            <div class="card-body mb-4">

                <strong>Phone Number: </strong> @ViewData["Phone"]<hr />
                <strong>Alternative Number: </strong> @ViewData["AlternativePhone"]<hr />
                <strong>Email Address: </strong> @ViewData["Email"]<hr />

            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4 bod">
            <div class="card-header text-white">
                <i class="fas fa-chart-bar me-1"></i>
               Address Details
            </div>
            <div class="card-body">
                <strong>Street/Complex Number: </strong> @ViewData["StreetName"]<hr />
                <strong>City: </strong> @ViewData["City"]<hr />
                <strong>Province: </strong> @ViewData["Province"]<hr />
                <strong>Postal Code: </strong> @ViewData["PostalCode"]
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4 bod">
            <div class="card-header text-white">
                <i class="fas fa-chart-bar me-1"></i>
               Team Details
            </div>
            <div class="card-body mb-4">
                <strong>Team Name: </strong> @ViewData["Team"]<hr />
                <strong>Position: </strong> @ViewData["pPosition"]<hr />
                <strong>Jersey Number: </strong> @ViewData["JerseyNumber"]<hr />
              
            </div>
        </div>
    </div>
</div>


