@model IEnumerable<SGMS.Models.Tournament>

    <div class="header1">
    <div class="alert mb-1 d-flex align-items-center alert-success" id="form1" role="alert" style="border-bottom-color:#5bc1ac; border-bottom-width:3px">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi el bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div class="el">
            <strong class="text-white" style="color:#5bc1ac">Registered Tournaments</strong>
        </div>
    </div>
</div>

<table class="table" id="datatablesSimple">
    <thead style="background-color:#5bc1ac">
    <tr>
        <th>
            Action
        </th>
      <th class="text-white">Tournament Name</th>  
      <th class="text-white">From</th>
      <th class="text-white">Till</th>
      <th class="text-white">Affiliation</th>
      <th class="text-white">IsActive</th>

      <th class="text-white">Action</th>
    </tr>
</thead>
<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                     <a asp-action="OnRemoveTournament" class="text-danger" asp-controller="Tournament" asp-route-TournamentId="@item.TournamentId">Remove</a>
                </td>
                <td>@item.TournamentName</td>
                <td>@item.From.ToString("dddd, dd MMMM yyyy")</td>
                <td>@item.Till.ToString("dddd, dd MMMM yyyy")</td>
                 <td>R @item.AffiliationFee</td>
                 <td>@item.IsActive</td>
                 <td>
                     <a asp-action="OnModifyTournament" asp-controller="Tournament" asp-route-TournamentId="@item.TournamentId">Open</a>
                </td>
            </tr>
        }
    </tbody>
</table>

