@model IEnumerable<SGMS.Models.Team>

  <style>
    .form-control, .accordion-item {
        border-color: black;
    }

    .acchead {
        background-color: #2774F1
    }

    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 38px !important;
        border-color: black;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }

    .card-header, .head {
        background-color: #5bc1ac;
    }

    a {
        text-decoration: none;
    }

    .card-border, .table {
        border-color: black;
    }

    .ref {
        background-color: darkblue;
    }

    .vs {
        margin-left: 240px;
    }
</style>

<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-futbol me-1 text-white"></i>
            <span class="text-white">List Of All Registered Teams</span>
        </div>

        <table class="table" id="datatablesSimple">
            <thead style="background-color:#5bc1ac">
                <tr>
                    <th>
                        Action
                    </th>
                    <th class="text-white">Team Name</th>
                    <th class="text-white">Registered On</th>
                    <th class="text-white">Registered By</th>
                    <th class="text-white">Is Active?</th>
                    <th class="text-white">Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="OnTeamAddition" class="text-primary" asp-controller="Team" asp-route-TeamId="@item.TeamId">Open</a>
                        </td>
                        <td>@item.TeamName</td>
                        <td>@item.CreatedOn</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.IsActive</td>

                         <td>
                            <a asp-action="OnViewTeamPlayers" class="text-danger" asp-controller="Team" asp-route-TeamId="@item.TeamId">Players</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


